# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# Hugging Face API Configuration (Gérée côté proxy Supabase)
EXPO_PUBLIC_HF_MODEL=google/gemma-3-4b-it

