# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# Hugging Face API Configuration
EXPO_PUBLIC_HF_API_KEY=YOUR_HUGGINGFACE_API_KEY
EXPO_PUBLIC_HF_MODEL=google/gemma-3-4b-it

